[2018-12-10 13:52] mojoaxel opened #2 "error calling `standard`"
see https://github.com/standard/standard/issues/1235

[2018-12-10 14:33] #2 closed

[2019-04-23 12:21] mojoaxel opened #4 "Rename package to pdf-merger-js"
* [x] rename the repository
* [x] update the README
* [x] publish the new module

[2019-04-23 12:21] mojoaxel commented on #4
@nbesli Could you please unpublish the old "pdf-merger-trvl" module:
[code]

[2019-04-23 13:40] nbesli commented on #4
Done, old package status is changed as deprecated

[2019-04-23 13:41] mojoaxel commented on #4
Thx!

[2019-04-23 13:41] #4 closed

[2019-07-08 15:21] mmyjona opened #5 "save should be an async function"
based on the doc of pdfjs:
https://github.com/rkusa/pdfjs/blob/bd2dea256790c9ce2151630d43cb47385b6a89f7/docs/document.md
doc.end() should be await

[2019-07-11 06:03] #5 closed

[2019-10-17 17:01] yiyinerjin opened #8 "Error: Expected compressed object stream.This happens in some pdf files."
[code]

[2019-10-17 18:20] mojoaxel commented on #8
@yiyinerjin can you please provide an example PDF where the error occurs!

[2019-10-17 18:25] yiyinerjin commented on #8
@mojoaxel  I send you an email right now. please check it when you are free. thank you!

[2020-02-06 20:24] alexgarcia9425 opened #10 "File exists but it's empty"
Immediately after saving a file when I check if it's there on the file system the file exists but it's empty.

This is happening due to the fact that the save method resolves after the writeStream end event, but at that point the stream is not closed yet.

I'll be sending a PR for this I hope you have a chance to take a look.

[2020-02-06 20:37] mojoaxel commented on #10
@alexgarcia9425 Can you please provide an example to reproduce this. Thanks!

[2020-02-11 07:25] #10 closed

[2020-02-20 19:42] manofaria commented on #8
When merging two pdf files, the resulting file is about twice as large as both files combined, is there a way to keep the resulting merged file to around the same size as the sum of the sizes of the original source files?

[2020-02-20 20:07] mojoaxel commented on #8
@manofaria Please open a new issue for this topic and try to provide two example PDFs. Thx!

[2020-02-20 22:00] manofaria opened #13 "Merged pdf file size is twice as large as individual files"
Noticed this when merging two files about 36kb each, the merged file is 145kb.  The attached files are as follows: html_test_1.pdf and html_test_2.pdf are merged to create html_test_3.pdf.
[html_test_1.pdf](https://github.com/nbesli/pdf-merger-js/files/4233188/html_test_1.pdf)
[html_test_2.pdf](https://github.com/nbesli/pdf-merger-js/files/4233189/html_test_2.pdf)
[html_test_3.pdf](https://github.

[2020-04-15 04:21] jonataspiazzi commented on #13
In a preliminar test I removed
the line: this.doc.set Template(ext)
from:  _addEntireDocument
This fixed the issue. I not quite sure what this line do. I tested with a few pdf files, all works fine without this line and the size of the result is pretty much the sum of the original files.

[2020-04-15 09:16] mojoaxel commented on #13
https://github.com/rkusa/pdfjs/blob/master/docs/document.md#settemplateexternal-firstpageonly

I also think this line can be remove.
@jonataspiazzi Feel free to provide a pull-request. Thx!

[2020-05-04 13:49] Revadike opened #15 "merged.pdf > 2GB = broken"
Any merged pdf that was larger than 2GB in size was broken and unable to open.

[2020-05-05 12:07] jsdev13 opened #16 "How to save merged pdf to tmpdir?"
Hey there,
please tell me if there is any chance to save the merged file to tmpdir.
Thank you.

[2020-05-05 15:16] mojoaxel commented on #16
? just do something like this:
[code]

[2020-05-06 12:19] jsdev13 commented on #16
Awesome!
I actually had another issue with async-await on an express route and I thought that is caused by invalid parameter.
You cand update readme.md at Code sample to "await merger.save('merged.pdf'); //save under given name **/ path**"
Your package is great!
Thank you. Cheers!

[2020-05-06 15:08] mojoaxel commented on #16
Feel free to provide a pull-request :wink:

[2020-05-06 15:08] #16 closed

[2020-05-16 09:50] Munawwar opened #17 "Feature request: Browser support"
Hi. First off, thanks for this project. It's amazing.
It would be nice to make this library browser compatible (instead of relying on fs) so that for small PDFs a server solution isn't needed.

I've managed to make (a subset) of your code, browser compatible.

So instead of reading from file I used fetch() API:
[code]

And instead of writing to file one can force browser download:
[code]

<details

[2020-05-27 07:20] 13samyakjain opened #18 "To and '-' function did not work properly"
when I used to function it returns invalid  parameters

[2020-05-27 08:41] mojoaxel commented on #18
@13samyakjain Thanks for reporting this!
Could you please provide a sample so I can see how this is not working. Thanks!

[2020-05-27 08:43] 13samyakjain commented on #18
Yes sure! I will sent it to you ASAP. I have also uploaded a solution for it in general folder

[2020-05-27 08:47] mojoaxel commented on #15
This is probably an issue of `pdfjs`. We should create a minimal example and create bug report there!

[2020-05-27 08:55] mojoaxel commented on #8
I'm closing this due to inactivity.
If you encounter this problem please let us know and please provide the problematic pdf files, so we could debug this issue further!

[2020-05-27 08:55] #8 closed

[2020-05-27 16:07] 13samyakjain commented on #18
![WhatsApp Image 2020-05-27 at 9 25 40 PM (1)](https://user-images.githubusercontent.com/57790761/83043638-bad44700-a060-11ea-9080-152b685a50b1.jpeg)
![WhatsApp Image 2020-05-27 at 9 25 40 PM](https://user-images.githubusercontent.com/57790761/83043644-bd36a100-a060-11ea-9766-245848f4f9f5.jpeg)

This code may work sometimes.
Cause of error:- split function returns a string value(not a number).
A s

[2020-06-18 08:14] mojoaxel opened #20 "add Typescript typings"

[2020-06-19 09:39] #20 closed

[2020-06-19 15:47] mojoaxel commented on #18
Looks like this is still an issue in v3.0.2

[2020-06-19 15:56] #18 closed

[2020-06-19 15:59] #13 closed

[2020-06-28 13:40] sombreroEnPuntas opened #24 "feat proposal: addAllFromFolder"
It would be convenient to add all files on a folder, like:

[code]

[2020-06-28 18:53] mojoaxel commented on #24
for now you could do something like this (untested):

[code]

[2020-07-06 15:40] nicolaselopez opened #25 "Typescript Definition - npx tsc fails"
I'm trying to use your library with typescript but it's failing throwing this error when i runt the npx tsc command:

`node_modules/pdf-merger-js/index.d.ts(6,3): error TS1038: A 'declare' modifier cannot be used in an already ambient context.`

This is because of the nested declares inside the index.d.ts that is not allowed on the newer versions of Typescript

[2020-07-06 16:00] nicolaselopez commented on #25
I've just created the PR #26 that fixes this issue

[2020-07-11 09:41] mojoaxel commented on #25
fixed with #26

[2020-07-11 09:41] #25 closed

[2020-07-16 21:12] peterzanetti opened #27 "JavaScript heap out of memory"
Hello,

I am trying with library to merge two PDFs, one 20 pages, one about 600 pages. I watch as it cosumes multiple GB of RAM and then eventually crashes my node server.

Is this not meant for files with large amount of pages or am I doing something wrong?
What I'm doing looks something like this:

merger.add(file1, [1]);
merger.add(file2, '2-618');

[2020-07-18 16:00] jeelpatel1612 opened #29 "Error: already ended"
[code]

**What this error means ?**
**and how to prevent  it?**

[2020-07-20 13:40] jeelpatel1612 commented on #29
Ok, So i was using the same `var merger = new PDFMerger()` for every time i merge PDFs.
When i created new instances of `PDFMerger`, the problem `Error: already ended` was gone.
Hope developers will document this modules properly.

[2020-07-21 07:08] mojoaxel commented on #29
Thanks for reporting this. This should be fixed or at least be better documented.

[2020-07-21 18:02] peterzanetti commented on #27
I've have been looking for the most efficient means of creating PDFs from source files as I need to do it on a rather large scale (lots of documents, lots of pages per document, constant requests). I have gone the ghostscript/ImageMagick route in the past of converting PDF to PNG (which is slow) and then PNG to PDF (which is relatively quick). In my scenario I could avoid doing the PDF to PNG if I

[2020-07-23 15:22] Kagu-chan opened #30 "Publish TS declaration fix"
The issue is #25 - which is already fixed.

Using npm and typescript, it is still a problem since the version was not published to npm. This way we have to use the git repo url instead of the usual npm module reference.

[2020-07-23 21:14] mojoaxel commented on #30
I just released [version 3.0.5](https://www.npmjs.com/package/pdf-merger-js/v/3.0.5).

[2020-07-23 21:14] #30 closed

[2020-07-26 16:48] ngocdaothanh opened #31 "Merged result PDF file is 3x bigger than expected"
Probably this problem is related to the memory problem mentioned in other issues.

I have 2 PDF files, 269KB and 23MB.

When I merge with Ghostscript, the result file is 20.4MB:
`gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -dPDFSETTINGS=/prepress -sOutputFile=ghostscript.pdf cover.pdf diary.pdf`

When I merge with pdf-merger-js, the result file is 59.4MB:

[code]

Input files:
* [cover.pdf](https://

[2020-09-26 20:53] muturgan opened #32 "The "save" method can't parse an output file name"
Enviroment:
ubuntu 19.10
node 10.22.1 (same with 14.12.0)
pdf-merger-js 3.0.5
pdfjs 2.3.9

My code snippet:
[code]

Result:
[code]

[2020-10-05 08:04] mojoaxel commented on #32
I can not reproduce this problem with your code!
Maybe check if the pdf files really exists at this location:

[code]

[2020-10-14 05:58] thakurakhilesh opened #33 "Error: Invalid number at 1: % (code: 37)"
Environment
Ubuntu 18.04.3 LTS
NodeJs: 12.0.0
pdfj": "^2.4.1"
pdf-merger-js: "^3.0.5"

**I am getting below issue:**
[code]

passed pdf is valid. correctly opening in browser. I am using   "is-pdf-valid": "^0.0.1" package to check pdf is valid or not. This package returns true that means pdf is valid.

Please guide me, how I solve this issue?

[2020-10-14 06:54] mojoaxel commented on #33
This is an issue in the pdfjs library. Please create an issue over there with the pdf file attached.

[2020-10-16 14:40] #33 closed

[2020-10-16 14:44] mojoaxel commented on #31
@ngocdaothanh Thanks for reporting this and for providing the pdf files. This is an issue that should be looked at!

[2020-11-25 01:01] lobonz opened #34 "Issue with PDF version 1.6"
I have an issue with some pdfs, the only difference seems to be the pdf version is 1.6
other files which are version 1.4 merge fine.

Enviroment:
Ubuntu 18.04.5 LTS & Also tested on Windows
Node v10.22.1
pdf-merger-js 3.0.5
pdfjs 2.3.9

`TypeError: Cannot read property 'compressed' of undefined
at parseObject (/home/lifecycle/ouroboro/server/node_modules/pdfjs/lib/object/reference.js:81:15)
at PDF

[2020-11-25 01:57] lobonz commented on #34
Ok, so seems to be an issue with compressed pdfs rather than the version.
using pdftk to uncompress the same file it then merges fine so think this is likely an issue with the pdfjs library and its handlink of compressed pdfs.
Ill close this as I don't think its an issue with pdf-merger-js although would be good to warn if compressed or something like that.

[2020-11-25 01:57] #34 closed

[2020-12-09 10:35] marcomuser commented on #34
I cannot confirm your description of the origin of the error. Several merge tests with compressed PDFs (text or images) ran without problems. And still I have here a scanned PDF (image-based. PDF version 1.3) that spits out exactly the same error as the one you described above. If I re-export this PDF with a different program it merges without problems - no matter whether it is compressed or not.

[2020-12-10 17:33] lobonz commented on #34
May be due to the software used, or possibly compression type. I changed to use pdf-lib as I couldn't solve the issue and have hundreds of existing files that wouldn't merge.  All were saved from Acrobat Pro by Extracting single pages.

[2021-01-01 16:05] viveKing21 opened #35 "Not working with react-native"
Getting this error ->

 Unable to resolve module `fs` from `node_modules\pdf-merger-js\index.js`: fs could not be found within the project.

[2021-01-01 16:14] mojoaxel commented on #35
`fs` is a native node.js module to access the file system.
This library needs file-system access to work. It should be possible to rewrite it to use react-natives file api.

[2021-01-01 16:14] #35 closed

[2021-01-11 18:10] himanshuj89 opened #36 "Page Numbering of Merged PDF"
Hi,

I am trying to merge couple of PDFs which has pagination respectively. For example -

First PDF has paging like -

- Page 1 of 3
- Page 2 of 3
- Page 3 of 3.

Second PDF has paging like -

- Page 1 of 2
- Page 2 of 2

When I merge these 2 PDFs, output PDF has paging like -

- Page 1 of 3
- Page 2 of 3
- Page 3 of 3
- Page 1 of 2
- Page 2 of 2

Is it possible to have paging re-numbered on merg

[2021-01-11 19:08] mojoaxel commented on #36
This is out of scope of this library. You could try to change the resulting PDFs using e.g. [PDFs](https://www.npmjs.com/package/pdfjs).

[2021-01-11 19:08] #36 closed

[2021-01-15 09:44] haveachin commented on #31
I have the same problem. My output file is **huge**!
The PDFs are from my university so I can't share them here.

![image](https://user-images.githubusercontent.com/30272106/104708416-f883fe00-571d-11eb-8099-2808ab2be461.png)

[2021-01-18 19:35] ZaunSupremoXV commented on #17
Do you have the complete code to share?

[2021-01-19 08:12] Munawwar commented on #17
@ZaunSupremoXV I have full code at https://github.com/Munawwar/merge-pdfs-on-browser/blob/master/public/pdfjs-approach/pdf-merger-js-adapted.js
But I later didn't go with this approach, as some specific PDFs crashed while merging (which I think I reported to pdf.js and is now fixed). So I went with server-side solution with PDFtk. However someone here can pursue taking that code and merging it int

[2021-01-19 10:58] ZaunSupremoXV commented on #17
Thanks @Munawwar

[2021-01-25 12:07] nicoschtein commented on #33
@thakurakhilesh have you solved it yet?

[2021-01-29 19:18] GabrielSchambakler commented on #33
@nicoschtein i solved this using the pdf-flatten package (https://www.npmjs.com/package/pdf-flatten)

var pdfMerger = new PDFMerger();
let fileBuffer = fs.readFileSync(pdfPath);
fileBuffer = await flattener.flatten(fileBuffer);
pdfMerger.add(fileBuffer);

[2021-02-02 06:27] Jakin-Liu opened #38 "memory heap"

[2021-02-02 07:46] mojoaxel commented on #38
Please provide a description!

[2021-02-09 22:31] mckiernantim commented on #29
Thanks for figuring this!

[2021-02-19 10:45] mojoaxel commented on #38
closing as duplicate of #27

[2021-02-19 10:45] #38 closed

[2021-02-26 16:11] #32 closed

[2021-02-26 16:18] #29 closed

[2021-02-26 16:28] mojoaxel commented on #24
This conflicts with browser support (#17). Because there is a [easy workaround](https://github.com/nbesli/pdf-merger-js/issues/24#issuecomment-650806856) I think we can close this.

[2021-02-26 16:28] #24 closed

[2021-03-17 15:58] Nikita747 opened #42 "Merge Compressed PDF gives error"
TypeError: Cannot read property 'compressed' of undefined

[2021-03-24 08:13] sameep-baraiya opened #43 "Not a bug."
Just wanted to thank you. This library saved my day. In my university project initial attempts of merging pdf used to take more than 60 seconds. This library helps reduce that time by a few seconds! Really mad my day. Thank You.

[2021-03-24 08:42] mojoaxel commented on #43
Thanks! I'm happy that it is useful to so many people!
This open-source work was funded by @fllstx

[2021-03-24 08:42] #43 closed

[2021-04-01 09:23] mojoaxel commented on #42
@Nikita747 Can you please provide an example or at least some more information on how to reproduce this!?

[2021-06-09 06:05] romainwurtz commented on #42
This sample file created by DocRaptor seems to crash every time.

[doc-194199933.pdf](https://github.com/nbesli/pdf-merger-js/files/6621414/doc-194199933.pdf)

[code]

[2021-07-14 11:38] flecke-anaptis opened #50 "where is the "merged.pdf" saved ?"
I try to merged some PDFs which i get as Base64 String first. I convert them with the "atob()"-Function and try then to merge them. But i dont get any Response after the save of the "merged.pdf". Where is this saved PDF and how can i download it ? Can someone help me ?

[code]

("JsonPDFS" is a Json array with all PDFs to merge as Base64 Strings)

[2021-07-27 07:17] mojoaxel commented on #17
Implemented in #51 by @DanMHammer

[2021-07-27 07:17] #17 closed

[2021-07-27 08:03] mojoaxel opened #53 "distribute as browser bundle"
This library should be distributed on a CDN as a browser compatible bundle.

[2021-07-29 14:56] #27 closed

[2021-08-01 09:49] mojoaxel commented on #15
@Revadike This should be fixed in #57 since v3.2.1

If this still is an issue please let us know!

[2021-08-01 09:49] #15 closed

[2021-08-01 09:51] mojoaxel commented on #53
@Revadike This hasb been implemented by @DanMHammer in #51 and released with v3.2.0! :rocket:

[2021-08-01 09:51] #53 closed

[2021-08-01 09:56] mojoaxel commented on #50
@flecke-anaptis I would recommend something like the following code:

[code]

[2021-08-01 09:56] #50 closed

[2021-08-01 15:33] mojoaxel commented on #42
This is a pdfjs-bug, that is tracked here: https://github.com/rkusa/pdfjs/issues/265

[2021-08-06 03:51] ChanJH93 opened #59 "Saving the merged pdf files to mongodb database"
The merger.save() command saves the merged file in external folder. Is there anyway to store the merged pdf files into gridfs/mongodb databse ?

[2021-08-06 07:17] mojoaxel commented on #59
I would recommend saving the pdf in a temporary location, and than copy it to wherever you want. How to save files in mongodb is out of scope of this repository.

[2021-08-06 07:17] #59 closed

[2021-08-17 06:44] dineshsbm opened #61 "The size of the merged pdf file size is too big"
I have a requirement to merge 1000's of smaller chunk of PDF files into one big PDF file. The total size of all the files is ~181MB.
I verified with different plugins available out of which I am very much towards **pdf-merger-js** and **easy-pdf-merge** working fine. However I noticed the size of the merged PDF file is **1GB in case of pdf-merger-js** whereas it is **~187MB when using easy-pdf-mer

[2021-08-17 07:02] dineshsbm commented on #31
I too have the same problem.
I have a requirement to merge 1000's of smaller chunk of PDF files into one big PDF file. The total size of all the files is ~181MB.
I verified with different plugins available out of which I am very much towards **pdf-merger-js** and **easy-pdf-merge** working fine. However I noticed the size of the merged PDF file is **~1GB in case of pdf-merger-js** whereas it is **

[2021-08-17 07:03] dineshsbm commented on #61
Will track the issue through https://github.com/nbesli/pdf-merger-js/issues/31

[2021-08-17 07:03] #61 closed

[2021-08-17 19:08] PendulousMind commented on #31
FYI I have repeated this issue within the pdfjs library.  Using either pdf-merger-js or pdfjs produced the exact same size file (699kb) from (165kb,11kb) files.

[2021-08-19 08:16] flecke-anaptis commented on #50
@mojoaxel
i have a new Problem. My Programm is throwing an error at the point i want to add the PDFs to the merger. I get the following errormessage:
![image](https://user-images.githubusercontent.com/70513517/130032565-d9575d54-3622-487e-96d6-4a5497703e3e.png)
i dont really understand what the Problem is. I import the fs module and set a variable with it. Here's my code (The import is at the begi

[2021-08-19 08:49] mojoaxel commented on #50
@flecke-anaptis
- This issue tracker is not a support forum! Please use stackoverflow or something like this if you have programming questions!
- Also adding me directly takes time out of my day to react to it. Why should I be interested in you problems? Please don't add me!
- Your comment has nothing to do with the issue #50. Please add a new issue if you think you encountered a bug in the librar

[2021-09-03 13:41] poPaTheGuru opened #62 "PDFs aren't merged in order"
Hello!

This is my code:

[code]

No matter the order in the `map` function, the PDFs are always merged as `appendixBlob` and then `initialBlob`.

I tried to change the order in array, but it merges them the same.

Did I do something wrong?

-------------------------------

**EDIT**

After some testing, it turns out that sometimes in merges them in order of the array, but sometimes no. I found tha

[2021-09-08 23:53] stivncastillo opened #63 "Failed to execute 'readAsArrayBuffer' on 'FileReader'"
I had this error:

`TypeError: Failed to execute 'readAsArrayBuffer' on 'FileReader': parameter 1 is not of type 'Blob'.`

react:

    const merger = new PDFMerger();
    await merger.add("https://github.com/nbesli/pdf-merger-js/blob/master/test/fixtures/MergeDemo.pdf")

[2021-09-09 08:02] mojoaxel commented on #63
@DanMHammer Could you maybe have a look at this!?

[2021-09-10 06:38] cluster05 opened #64 "Merge Pdf not merging again with other pdf"
I have sample1.pdf and sample2.pdf when I merge them it generate merged.pdf but
what try to add again sample1 + sample2 + merged = newPDF then it showing error like

[code]

[2021-09-10 08:55] Prinzhorn commented on #62
`merger.add` is synchronous, you don't need to `await` it. It appears by using `Promise.all` the way you did you introduce a race condition, because both calls happen concurrently.

[2021-09-10 09:05] Prinzhorn opened #66 "Make `add` async for the non-browser version as well"
When using this library on a server currently every `add` call will lock up your process because of `readFileSync`. It'd be great to make this async as well. Would also align browser and node version more closely.

[code]

https://nodejs.org/api/fs.html#fs_promises_api

Edit: I didn't look to closely into it, but maybe `index.js` and `browser.js` could also inherit from a base class. They share th

[2021-09-10 09:53] Prinzhorn commented on #63
Shouldn't you get this?

From this line https://github.com/nbesli/pdf-merger-js/blob/master/browser.js#L46

The FileReader code path should never be reached.

[2021-10-09 20:06] mojoaxel commented on #64
@cluster05 Could you please provide some pdf document to reproduce this?

[2021-10-09 20:13] #62 closed

[2021-12-06 14:29] scorpioRED opened #69 "Error: Invalid PDF: startxref not found"
Hi! Got error **Error: Invalid PDF: startxref not found**
What does it mean?

[2021-12-06 14:51] mojoaxel commented on #69
@scorpioRED Could you please provide the pdf that resulted in this error!?

[2021-12-06 14:55] scorpioRED commented on #69
Unfortunately, I can not send it, this is a passport.
If I run the once - it's ok, but in express server - got this error

[2021-12-06 15:31] scorpioRED commented on #69
I don't understand why it doesn't work with express

[2021-12-08 22:17] Jossic commented on #69
I have the same problem

here's my console
![image](https://user-images.githubusercontent.com/60156884/145293196-245b4524-d90e-4904-a426-9ec329ec6b96.png)

The data I try to merge
![image](https://user-images.githubusercontent.com/60156884/145293269-1e137774-58e0-490a-a9b0-a294b6be8c65.png)

And the function
![image](https://user-images.githubusercontent.com/60156884/145293305-abdd93b1-eb68-4aac-8

[2021-12-09 11:41] Jossic commented on #69
Hello,

I found the solution @scorpioRED .

It seams to appeared when one of the fetched files is unavailable, or corrupted, so it's indeed Invalid PDF...
Maybe you could try with only 2 corrects files and check if it's working...

Thanks !

[2021-12-09 13:29] mojoaxel commented on #69
Looks to me like a problem of pdfjs with some (potentional broken) pdfs.
If anybody could provide some some pdf-files to reproduce this issue it might be worth opening an issue in the pdfjs repository.

[2022-01-03 12:42] naimur978 opened #70 "not working for react native"

[2022-01-03 14:23] mojoaxel commented on #70
@naimur978 Please provide additional information.

[2022-01-05 10:39] #70 closed

[2022-01-19 15:22] TristanTouchain opened #71 "Push a new release: `browser.d.ts` is not available in 3.2.1"
Hi everyone,

Do you think that a new release is possible?
I need the `browser.d.ts` file but since the last release 3.2.1, some changes in master is not available. Is it normal?

Have a nice day!

[2022-01-19 18:58] mojoaxel commented on #71
:tada:  https://github.com/nbesli/pdf-merger-js/releases/tag/v3.3.0

[2022-01-19 18:58] #71 closed

[2022-01-20 14:58] mojoaxel commented on #31
Maybe a5177b4c4f578e818eb0cd3b5ccedeb201683e74 helps with this!? We should check if this is still an issue with v.3.3.2.

[2022-01-21 10:35] Kreijstal opened #72 "could this be called from the command line?"
it'd be nice, because it only depends on node

[2022-01-30 10:52] dorsharonfuse opened #73 "Browser version not working"
The `browser.js` file is using `Buffer` which is not available on the browser.
I'm afraid beyond that some other stuff might not be compatible.

[2022-03-07 10:00] urjit2498 commented on #69
I'm facing same issue. Can anyone find the solution regarding the same????

I am using pdf buffers for merging the pdf.

[2022-03-15 13:18] gajanan0707 commented on #64
[userOrder0Pdf63.pdf](https://github.com/nbesli/pdf-merger-js/files/8253587/userOrder0Pdf63.pdf)
[userOrder1Pdf63.pdf](https://github.com/nbesli/pdf-merger-js/files/8253588/userOrder1Pdf63.pdf)

When I merge this two files got error ( Error: Invalid value)
but same code if images pdf then wroking but with pdf not working

[2022-03-17 21:32] dallen-baldwin-horrocks commented on #42
I ran into this today after implementing merging to fix another issue with external PDFs... @mojoaxel have you seen [this ](https://github.com/rkusa/pdfjs/issues/265#issuecomment-976622488) response and considered implementing it? It looks like it would probably break the browser capabilities of the package... but it would at least be something.

[2022-03-17 22:09] mojoaxel commented on #42
@dallen-baldwin-horrocks The provided "solution" adds an external dependency to pdf-toolkit which needs native bindings.
Feel free to use node-pdftk to merge you pdfs but this project aims to be pure JavaScript for compatibility purposes.

[2022-03-17 22:11] dallen-baldwin-horrocks commented on #42
That's understandable. I may have to do that anyways since I ran into another upstream pdfjs issue within 5 minutes of composing that last message...

[2022-03-30 17:58] mojoaxel commented on #72
@Kreijstal Sorry i've overlook this! This is a very nice idea!

Do you have any idea how a interface could look? Should it only be possible to merg two documents or multibles at the same time? What about page number?

Let's discuss this idea here any further!

[2022-03-30 18:11] mojoaxel commented on #72
Here is a proposal:

[code]

So this would merge
page 1 and 2 of input1.pdf
with input2.pdf
and with pages 3 to 6 of input3.pdf
and save everything to merged.pdf

[2022-04-06 10:54] ratchet34 opened #76 "Link to page broken after merging"
Hi,

One of my document contains links to different pages of itself and after merging those links no longer work anymore. URL links work well though.
Those links are generated by jsPDF with the following code :
`doc.textWithLink('Link', 2, 2, { pageNumber: 3 });`

[2022-05-12 20:42] gmantaos commented on #76
I can also confirm that links break for documents generated with puppeteer.

[2022-05-13 07:45] mojoaxel commented on #76
Thanks for reporting this!
If you provide a very basic example-pdf we create an issue at [jsPDF](https://github.com/parallax/jsPDF).
Also feel free to open a issue yourself describing the problem. Don't forget to link back to this issue, here. Thx!

[2022-05-13 07:47] mojoaxel commented on #73
Maybe @DanMHammer can have another look!?

[2022-05-31 20:23] ViktorMS opened #79 "Add TypeScript support"
`TS2307: Cannot find module 'pdf-merger-js/browser' or its corresponding type declarations.`

[2022-05-31 20:27] ViktorMS commented on #79
My bad, using a new computer and forgot to `npm i`

[2022-05-31 20:27] #79 closed

[2022-06-07 15:34] meirlamdan commented on #73
I also get an error.
i not sure if is the same problem.
`Uncaught ReferenceError: global is not defined
    at node_modules/readable-stream/lib/_stream_readable.js (_stream_readable.js:48:21)
    at __require (chunk-OL3AADLO.js?v=f485049a:9:50)
    at node_modules/readable-stream/readable-browser.js (readable-browser.js:1:28)
    at __require (chunk-OL3AADLO.js?v=f485049a:9:50)
    at node_modules

[2022-06-27 15:16] flowsn4ke opened #81 "Error: Invalid stream: `endstream` not found"
Hi!

After some research it seams this is a known issue due to pdf generators not following pdf specifications close enough.
Unfortunately we still have to deal with it... Any chance we could bake in a fix in the lib or find a workaround?

The issue is also that this error makes our application crash, it's not caught even if inside a try / catch block for some reason.

You can find [a pdf that all

[2022-06-27 15:38] #81 closed

[2022-06-28 00:07] Beej126 commented on #73
in case it helps... the [need for Buffer in a React project has been solved here](https://dev.to/przpiw/react-pdf-rendering-4g7b)... and [here is my own working online sample](https://stackblitz.com/edit/react-pdf-demo2?file=craco.config.js) based on that approach... i'll post a working sample project if i wind up going this direction

[2022-06-29 04:46] abbygailbunagan opened #82 "Uncaught (in promise) Error: already ended"
I have an issue on the this.merger.save() step which is :

[code]

[2022-06-30 20:00] timlpq opened #83 "Sort by filename instead of FIFO"
Hello all! Before the merge, is there a method to sort by file name instead of order it was added?

[2022-07-02 12:50] mojoaxel commented on #82
@abbygailbunagan Please provide a code-snippet to reproduce this error!

[2022-07-02 12:52] mojoaxel commented on #83
The easiest and prefered way is to add the files in the order you want them to end up!

[2022-07-05 11:09] abbygailbunagan commented on #82
const PDFMerger = require('pdf-merger-js');
        var merger = new PDFMerger();
        (async () => {
          merger.add('http://192.168.0.198:4000/Media/Files/msgc4896e2b7f31bdb285363d1ef8ce327e/sample.pdf');
          merger.add('http://192.168.0.198:4000/Media/Files/msgc4896e2b7f31bdb285363d1ef8ce327e/sample.pdf');
          merger.add('http://192.168.0.198:4000/Media/Files/msgc4896e2b7f31

[2022-07-08 00:27] hcramer commented on #31
I currently experiencing this issue as well with pdf-merger-js 3.4.0.

[2022-08-05 09:38] ajitStephen commented on #42
https://stackoverflow.com/a/63208646/5518625

alternative solution 👆🏻

[2022-08-09 00:05] afuller611-animas commented on #31
Any update on this or workarounds from anyone? I have two 5MB files that are becoming 183MB when merged. (On version 3.4.0)

[2022-08-10 13:01] GabeConsalter commented on #82
I'm having the same problem, any update for this?

[2022-08-11 13:53] mojoaxel commented on #72
For very basic merging you could use [pdf-merger-cli](https://github.com/zorji/pdf-merger-cli).

[2022-08-12 00:10] #31 closed

[2022-08-12 00:10] #42 closed

[2022-08-12 00:10] #64 closed

[2022-08-12 00:54] mojoaxel commented on #69
@scorpioRED @urjit2498 Please check if this is still an issue with [v4](https://github.com/nbesli/pdf-merger-js/releases?q=v4&expanded=true).

[2022-08-12 00:54] mojoaxel commented on #82
@abbygailbunagan @GabeConsalter Please check if this is still an issue with [v4](https://github.com/nbesli/pdf-merger-js/releases?q=v4&expanded=true).

[2022-08-12 00:55] mojoaxel commented on #76
@ratchet34 @gmantaos Please check if this is still an issue with [v4](https://github.com/nbesli/pdf-merger-js/releases?q=v4&expanded=true).

[2022-08-12 00:56] mojoaxel commented on #66
this is was implemented in [v4](https://github.com/nbesli/pdf-merger-js/releases?q=v4&expanded=true).

[2022-08-12 00:56] #66 closed

[2022-08-12 00:57] mojoaxel commented on #63
@stivncastillo Please check if this is still an issue with [v4](https://github.com/nbesli/pdf-merger-js/releases?q=v4&expanded=true).

[2022-08-12 00:58] mojoaxel commented on #73
@dorsharonfuse @meirlamdan Please check if this is still an issue with [v4](https://github.com/nbesli/pdf-merger-js/releases?q=v4&expanded=true).

[2022-08-13 23:22] RikaiDesign opened #87 "invalid parameter "pages" - with a single page number as string"
add (inputFile, pages) {

processes **pages** as an array or string.
As a string, it processes the ','  '-' 'to'  but doesn't process a single page number in a string

[2022-08-14 17:34] jerry-flam opened #88 ""Error: Input document to `PDFDocument.load` is encrypted" after upgrading to v4"
Thank you for the great library!

After upgrading to v4 I am receiving the following `pdf-lib` error:

Error: Input document to `PDFDocument.load` is encrypted. You can use `PDFDocument.load(..., { ignoreEncryption: true })` if you wish to load the document anyways.

I am also receiving empty pdf files.

In v3 it was working fine. My node version is 16.15.1

[2022-08-14 20:19] mojoaxel commented on #88
Thanks for filing this bug.
Could you please provide a minimal setup example or t leaset some encrypted pdf to reproduce this? thx!

[2022-08-14 20:21] mojoaxel commented on #87
I also thinks we should allow simple numbers and strings like this in the futue. It should be quite simple to implement this. We just need to extend the `add` function. Merge requests are always welcome!

[code]

[2022-08-15 05:50] jerry-flam commented on #88
Thank you for your answer.
I created the following repo reproducing the issue: https://github.com/jerry-flam/pdf-merger-js-issue-88

[2022-08-15 18:49] Kreijstal commented on #72
could we merge these with the original? very cool by the way

[2022-08-15 19:31] Furkangunduz commented on #87
Hello can you check my pull request ? #89

[2022-08-16 16:38] nurullah commented on #73
The problem continues for me. I still get the "Buffer is not defined" error.

[2022-08-19 17:41] Debajyoti14 opened #90 "Pdf & Jpg Merge"
Can i merge pdf alongside jpg here
because for me when i merge multiple pdf, it works nicely
but if i combine it with jpg it doesn't work.

Any fix???

[2022-08-20 11:32] Furkangunduz commented on #90
I think it would be great.
@mojoaxel do you guys planning to add this feature to the project ?
If you're planning it, I can work on it.

[2022-08-20 19:50] mojoaxel commented on #90
I don't think we should add the functionality to merge other file formats (e.g. images) here.
I would recommend generating pdf from the images first or even use pdf-lib directly to generate and merge mixed content.

[2022-08-20 19:56] #90 closed

[2022-08-22 21:56] austincondict-AngelOak commented on #88
@nbesli Can we expect this issue to be fixed in this repo any time soon? Appears to be a very simple change to add support for loading encrypted PDFs.

[2022-08-26 00:07] mojoaxel commented on #87
@Furkangunduz Thanks for fixing this with #89

[2022-08-26 00:07] #87 closed

[2022-08-26 08:33] t0m4-null opened #93 "saveAsBuffer() returns a Uint8Array instead of a Buffer"
Since v4.0.0 (and pdf-lib replacing pdfjs), saveAsBuffer() method returns a Uint8Array instead of a Buffer.

So, to fix it, I had to replace `await merger.saveAsBuffer()` with `Buffer.from(await merger.saveAsBuffer())`

[2022-08-26 21:52] mojoaxel commented on #93
@t0m4-null Yeah, that is a bug, introduced by #84

I'll provide a fix, soon.

[2022-08-26 23:01] #93 closed

[2022-08-26 23:32] mojoaxel commented on #69
closing as solved with #84. Please let us know if this is still an issue!

[2022-08-26 23:32] #69 closed

[2022-08-26 23:33] mojoaxel commented on #76
Closing as solved with #84. Please let us know if this is still an issue!

[2022-08-26 23:33] #76 closed

[2022-08-26 23:34] mojoaxel commented on #82
Closing as solved with #84. Please let us know if this is still an issue!

[2022-08-26 23:34] #82 closed

[2022-08-30 17:24] mojoaxel commented on #63
Closing as solved with #84. Please let us know if this is still an issue!

[2022-08-30 17:24] #63 closed

[2022-08-31 15:53] davbrito commented on #73
The browser version shouldn't use the node Buffer global. Instead should use an `ArrayBuffer` or an `Uint8Array`

[2022-09-02 19:03] jerry-flam opened #98 "Merging pdfs in a loop results in a blank page"
I am using the following code to merge the pdfs of a folder, inspired from this comment: https://github.com/nbesli/pdf-merger-js/issues/24#issuecomment-650806856

[code]

The result is an empty pdf file.

On the other hand, the following works fine:
[code]

Am I missing something or it is a bug?

**Software versions:**
_node: v16.17.0
glob: v8.0.3
pdf-merger-js: v4.1.0_

[2022-09-02 19:09] jerry-flam commented on #98
Here is a repo reproducing the issue: https://github.com/jerry-flam/pdf-merger-js-issue-98

[2022-09-02 19:51] mojoaxel commented on #98
I had a quick look. It looks to me like you forgot to await the `add` promise.

Try this:

[code]

[2022-09-03 05:06] jerry-flam commented on #98
Thank you very much! This solved it!

[2022-09-03 05:06] #98 closed

[2022-09-13 15:09] OtacilioN commented on #73
Same error @nurullah reported here trying to use web version:

[code]

[2022-09-13 15:12] #73 closed

[2022-09-14 10:52] cleitondm opened #99 "merger clear ?"
I'm making requests and each time I send a new request it creates a new file with all the other files sent previously merged.

how can i clean this?

image duplication

https://imgur.com/a/BXE4AzK

each new request adds all previous files

[code]

[2022-09-14 15:59] mojoaxel commented on #99
The document is not reset after saving.
You need to create a new merger instance to create new document:

[code]

[2022-09-14 15:59] #99 closed

[2022-09-14 16:03] mojoaxel commented on #72
Here is another proposal I like. This would also keep urls valid:

`pdf-merger-js --out=merged.pdf input1.pdf#1,2 input2.pdf input3.pdf#3-6`

[2022-09-15 18:56] brunanger opened #100 "Breaks href to element by id"
I've to add a Table of Contents with links to each section of my doc. For that I'm adding `<a href="#sectionId"> Section </a>`.

The Table of Content is created as a separated PDF after the content PDF so I know in which pages is each. In this situation links are rendered correctly.

But when I merge both PDFs, only these types of links are broken.

Is there any solution for this?

Thanks!

[2022-09-19 06:42] mojoaxel commented on #100
This is an interesting one! Maybe we could create a very simple example to reproduce this?

[2022-10-12 10:07] uriroos opened #101 "The guard for enough pages in _addFromToPage uses the wrong operator"
The function _addFromToPage has a guard for checking if there are enough pages available in the original file. However at this point the page index being using is still 1 based. The operator being used in the guard is for 0 based index `>=`.

**Steps to reproduce**
1. Create a pdf of 2 pages
2. Call .add with the range `1-2`
3. Call .save

**Expected behaviour**
Two pages are being added to the me

[2022-10-13 07:38] Mall0c commented on #100
I am experiencing the same issue with a TOC. After merging pdf documents, even if I feed the pdf merger only one document, hrefs in the TOC don't work anymore.

[2022-10-13 07:58] mojoaxel commented on #100
This is likely an issue of the [pdf-lib](https://github.com/Hopding/pdf-lib). If you could provide a very basic example we could file a bug report over there.

[2022-10-13 08:46] #101 closed

[2022-10-13 10:16] Mall0c commented on #100
I've built an example: https://github.com/Mall0c/pdf-merger-js-href-example

[2022-10-18 10:54] offaxis commented on #88
Hi !

Still getting the error on browser side...

[2022-11-08 09:55] pedroresende commented on #100
@mojoaxel First thank you for the great library that you've developed, it's been a life-savier.

Do you have any news about this issue?

[2022-11-10 09:47] mojoaxel commented on #100
Sombody needs to create an issue over at [pdf-libc](https://github.com/Hopding/pdf-libc), link the example repository and this issue here. Feel free to do this I, sadly, have currently have no time for visjs :-(

[2022-11-12 16:10] TheMrBlackLord opened #104 "Aw Snap. Out of Memory (Chrome)"
I'm making my own React typescript application that combines PDF into one. I upload files using an `<input type="file">`. Then, by pressing the button, a function is called that combines them using this library:
[code]
I upload 8 files with a total size of 42.7 MB. After clicking the button, Сhrome starts using 3 GB of RAM, instead of the usual 200 - 700 MB, and an error window appears:
![image](h

[2022-11-12 16:55] mojoaxel commented on #104
You would not try to methe such big files in the browser! I would recommend creating some kind of backend API to merge files on a big server.

What you can try is merging only one file after the other always using a new merger instance. But this is just a workaround that also would fail if files get even bigger.

[2022-11-12 16:57] mojoaxel commented on #104
Also, you are using the same merger instance every time. Try moving the `new Merger` part also in the function.

[2022-11-13 07:20] TheMrBlackLord commented on #104
At the end of function I create a new instance